---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);



---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hello World</h1>
		<p class="mb-4 sm:mb-8">
			fmt.Println("Hello there")
		</p>
		<p class="mb-4 sm:mb-8">
		I'm a .NET developer trying to learn Go. I'll post here along the way.</p>
		<div>
			<span>You can find me on: <SocialMediaLinks/></span>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>

</BaseLayout>
